body {
  background: #004C1A;
  padding: 40px 100px;
}
.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  background: url('../img/card-back.png') 0 0 no-repeat;
  background-size: cover;
}
.card img {
  width: 100%;
}
.covered {
  background: url('../img/card-back.png') 0 0 no-repeat;
  background-size: cover;
}
.covered img {
  display: none;
}

.hand {
  overflow: auto;
}

h2 {
  color: rgba(253, 255, 188, 0.8);
}

h1 {
  color: red;
}
.scoreboard {

}
.game-container {
  width: 70%;
  float: left;
  padding-bottom: 100px;
}
.scoreboard-container {
  width: 30%;
  float: left;
  color: white;
}
ul {
  padding: 0;
}
li {
  display: inline;
  margin-right: 10px;
}